<mat-card>
  <section>
    <input type="file" name="file" id="file" (change)="uploadPostImage($event)">

    <div [hidden]="!uploadPercent">
      <mat-progress-bar bmode="determinate" value="{{uploadPercent | async}}"></mat-progress-bar>
    </div>

    <div [hidden]="!downloadURL">Click to view: </div>
    <a [href]="downloadURL | async" [hidden]= "!downloadURL"> {{downloadURL | async}} </a>

    <div class="image-preview" [hidden]="!downloadURL">
      <img [src]="imageURL || '//:0' ">
    </div>

  </section>

  <section>
    <form [formGroup]="postForm" (ngSubmit)="savePost()">
      <mat-form-field>
        <input matInput placeholder="Post Title" formControlName="title">
      </mat-form-field><br>
      <mat-form-field>
        <textarea matInput placeholder="Post Content" formControlName="content"></textarea>
      </mat-form-field><br>
      <mat-slide-toggle formControlName="draft">Published?</mat-slide-toggle><br>
      <button mat-raised-button="submit" color="accent">Save</button>
    </form>
  </section>
</mat-card>
