ul {
  list-style: none;
}

mat-card {
  margin: 10px;
  width: 300px;
}
mat-card-content, mat-card-actions {
  margin: 1em;
}
.user-title{
  margin-left: 1em;
}
.photoURL {
  max-width: 80px;
  max-height: 80px;
}
